# GHCR image — owner/repo (lowercase)
GHCR_REPO=suhrob-qalandarov/birthcounterbot
IMAGE_TAG=latest

# Postgres
PG_DB=birthcounter
PG_USER=birthcounter
PG_PASSWORD=change_me

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_ID=
TELEGRAM_BOT_USERNAME=
TELEGRAM_BOT_WEBHOOK_PATH=
TELEGRAM_USER_AGREEMENT_LINK=

SPRING_PROFILES_ACTIVE=prod